<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Поисковик{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <h1><a href="{{ url_for('index') }}">Поисковик по корпусу Woman.ru</a></h1>
            <nav>
                <a href="{{ url_for('index') }}">Главная</a>
                <a href="{{ url_for('search_page') }}">Поиск</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>